@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

body {
   background-color: #f4f4f4;
}


main {
    display: grid;
    place-items: center;
}

img {
    width: 300px;
}

h1 {
    font-weight: 500;
    font-size: 20px;
    margin-top: -50px;
    margin-bottom: 20px;
}

input {
    font-size: 22px;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #2260a6;
    background: #d9d9d9;
    margin-bottom: 20px;
    
    color: #2260a6;
    font-weight: 700;
}

input:focus {
    box-shadow: 0 0 10px #2260a6;
}

button {
    font-size: 23px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #2260a6;
    border: 1px solid #2260a6;
    font-weight: 700;
    box-shadow: 0 0 5px #2260a6;
    transition: 1s ease-in-out;
    
}

button:hover {
    box-shadow: 0 0 15px #2260a6;
}

p {
        background-color: #d9d9d9;
        width: 120px;
        height: 80px;
        text-align: center;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 800;
        margin-top: 20px;
        padding-top: 10px;
        border: none;
        box-shadow: 0 0 5px #2260a6;
        animation: pulse 2.5s infinite ease-in-out;
        visibility: hidden;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 7px #000;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 13px #000;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 7px #000;
    }
}


@media screen and (max-width: 758px) {

    img { 
        width: 80%;
}

h1 {
    width: 300px;
    margin-top: -50px;
}
    
}